@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.purple {
    color: #6145ff;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, span {
    margin: 0px;
}

button {
    cursor: pointer;
}

button, input {
    font-size: 100%;
    margin: 0px;
}

a { 
    text-decoration: none;
}

.test {
    padding: 32px;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 

NAV 

*/

.nav__logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
}

.logo {
    height: 40px;
    width: 100%;
    max-width: 40px;
    margin-right: 12px;
}

.nav__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.nav__links {
    display: flex;
}

.nav__link--anchor {
    margin: 0 24px;
    color: #243e63;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.nav__link--anchor-primary {
    background-color: #6415ff;
    color: #f7fafc;
    padding: 0.75rem 2rem;
    border-radius: 50px;
}

/* 

HEADER

*/

.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__column {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1280px;
    padding-top: 72px;
    padding-bottom: 72px;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
}

.header__para {
    font-size: 18px;
    color: #243e63; 
    margin-top: 32px;
    margin-bottom: 32px;

}

.header__container--img {
    max-width: 48rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__column--left {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__column--right {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.header__img {
    width: 100%;
    max-width: 32rem;
}

.header__email {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 50px;
    border-width: 2px;
    border-color: rgb(226, 232, 240);
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 192px;
    padding-left: 32px;
}

.header__email--input::placeholder {
    color: rgb(226, 232, 240);
    font-weight: bold;
}

.header__email--input-btn {
    display: flex;
    align-items: center;
    position: absolute;
    border-style: solid;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    font-weight:  700;
    background-color: #6145ff;
    color: white;
}

.header__trusted {
    margin-top: 56px;
}

.header__trusted--text {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #a0aec0;
}

.header__trusted--img {
    margin-top: 16px;
    width: 100%;
    opacity: 0.5;
    padding-right: 64px;
}

/* 

FEATURES

*/


.features__subheader {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.6px;
    margin-bottom: 1rem;
    color: rgb(100 21 255);
}

.features__title {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025rem;
    color: #243e63;
}

.features__para {
    width: 100%;
    max-width: 36rem;
    font-size: 1.125rem;
    margin-top: 16px;
    text-align: center;
    color: #7c8ba1;
}

.service__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.service {
    width: calc(100%/3);
    display: flex;
    flex-direction: row;
}

.service__img {
    flex-shrink: 0;
    padding: 1.25rem;
    margin-top: 1.25rem;
    text-align: center;
    border-style: solid;
    border-radius: 9999px;
    border-width: 1px;
    border-color: rgb(226, 232, 240);
    height: 64px;
}

.service__info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.service__sub-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
    color:#243e63
}

.service__description {
   margin-top: 1rem;  
   margin-right: 6rem;
   font-weight: 500;
   line-height: 2; 
   color: #7c8ba1;
}

/* 

QUALITY WORK / PROFESSIONALS

*/

.professionals__column-row {
    display: flex;
    flex-direction: row;
}

.professionals__column--left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.professionals__column--right {
    width: 50%;
}

.professionals__img {
    width: 100%;
    border-style: solid;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(226, 232, 240);
}

.professionals__subheader {
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1.6px;
    margin-bottom: 1rem;
    color: rgb(100 21 255);
}

.professionals__title {
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.025rem;
    margin-top: 1rem;
    color: #243e63;
}

.professionals__para {
    font-size: 18px;
    text-align: left;
    margin-top: 1rem;
    color: #7c8ba1;
}

.professionals__btn {
    display: inline-block;
    align-items: center;
    padding: 0.75rem 2rem;
    border: none;
    border-style: solid;
    border-radius: 50px;
    margin-top: 2rem;
    margin-bottom: 8px;
    margin-right: auto;
    font-size: 0.875rem;
    font-weight: 700;
    background-color: #6145ff;
    color: white;
}

/* 

STEPS

*/

.steps__column--row {
    display: flex;
    flex-direction: row;
}

.steps__column--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.steps__column--right {
    width: 50%;
    margin-left: 24px;
}

.steps__subheader {
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1.6px;
    margin-bottom: 1rem;
    color: rgb(100 21 255);
}

.steps__title {
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    margin-top: 1rem;
    color: #243e63;
}

.steps__img {
    max-width: 100%;
}

.steps__steps {
    margin-top: 2rem;
}

.steps__step {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2rem;
}

.steps__stepsnumber {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    color: #cbd5e0;
}

.steps__stepstext {
    margin-left: 1.5rem;
}

.steps__stepsheader {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #243e63;
}

.steps__para {
    font-size: 14px;
    margin-top: 0.75rem;
    max-width: 20rem;
    color: #718096;
}

/* 

PRICING 

*/

.pricing__headercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    width: 100%;
}

.pricing__subheader {
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1.6px;
    margin-bottom: 1rem;
    color: rgb(100 21 255);
}

.pricing__title {
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    color: #243e63;
}

.pricing__para {
    text-align: center;
    margin-top: 1rem;
    width: 100%;
    max-width: 36rem;
    font-weight: 500;
    line-height: 1.625;
    color: #7c8ba1;
}

.pricing__planscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pricing__planheader, 
.pricing__planfeatures,
.pricing__planaction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__planheader {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.6;
}

.pricing__plan {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-right: 2rem;
    width: calc(100%/3);
}

.pricing__name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #1a202c;
}

.pricing__price {
    font-size: 48px;
    font-weight: 700;
}

.pricing__duration {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #a0aec0;
}

.pricing__planfeatures {
    margin-left: -2rem;
    margin-right: -2rem;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
    line-height: 1.6;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px;
}

.pricing__feature {
    margin-top: 20px;
    color: #718096;
}

.mainFeature {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #1a202c;
}

.pricing__planaction {
    padding: 2rem 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.pricing__buynowbutton {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    border-radius: 9999px;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.05em;
}

/* BUTTON / TEXT COLORS: */

.green__btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%)
}

.white__btn {
    background: #f7fafc;
}

.red__btn {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.white__text {
    color: #f7fafc;
}

/* BUTTON / TEXT COLORS: */

.purple__text {
    color: #6145ff;
}

.pricing__highlight {
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-color: #6145ff;
}

.pricing__highlights {
    color: #f7fafc;
}

.pricing__greenhighlight {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 100%;
    max-height: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

